<div class="form-check mb-3">
  <label class="form-check-label">
    <input type="checkbox" name="gdCompleted" class="form-check-input" value="true" />
    <b>Mark as Completed</b>
  </label>
</div>

<div class="form-row">
  <div class="col-md-4">
    <div class="form-group">
      <label><b>Registration Number</b></label>
      <input type="text" class="form-control" name="registerNum" placeholder="9 Digit Registration No." required />
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label><b>Name</b></label>
      <input type="text" name="name" class="form-control" placeholder="Enter Name" required />
    </div>
  </div>

  <div class="col-md-4">
    <label><b>Department</b></label>
    <select name="department" class="form-control" required>
      <option value="" selected disabled>Select Department</option>
      <option value="AUT">Automobile Engineering</option>
      <option value="BIO">Biotechnology</option>
      <option value="CHE">Chemical Engineering</option>
      <option value="CIV">Civil Engineering</option>
      <option value="CSE">Computer Science and Engineering</option>
      <option value="EEE">Electrical and Electronics Engineering</option>
      <option value="ECE">Electronics and Communications Engineering</option>
      <option value="INT">Information Technology</option>
      <option value="MEC">Mechanical Engineering</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="col-md-4">
    <p class="scoreParameter">Subject Knowledge</p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="subjectKnowledge" value="1" />
        1
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="subjectKnowledge" value="2" />
        2
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="subjectKnowledge" value="3" />
        3
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="subjectKnowledge" value="4" />
        4
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="subjectKnowledge" value="5" />
        5
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <p class="scoreParameter">Communication Skills</p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communicationSkills" value="1" />
        1
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communicationSkills" value="2" />
        2
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communicationSkills" value="3" />
        3
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communicationSkills" value="4" />
        4
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communicationSkills" value="5" />
        5
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <p class="scoreParameter">Body Language</p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="bodyLanguage" value="1" />
        1
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="bodyLanguage" value="2" />
        2
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="bodyLanguage" value="3" />
        3
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="bodyLanguage" value="4" />
        4
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="bodyLanguage" value="5" />
        5
      </label>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col-md-4">
    <p class="scoreParameter">Listening Skills</p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="listeningSkills" value="1" />
        1
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="listeningSkills" value="2" />
        2
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="listeningSkills" value="3" />
        3
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="listeningSkills" value="4" />
        4
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="listeningSkills" value="5" />
        5
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <p class="scoreParameter">Critical Thinking</p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="criticalThinking" value="1" />
        1
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="criticalThinking" value="2" />
        2
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="criticalThinking" value="3" />
        3
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="criticalThinking" value="4" />
        4
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="criticalThinking" value="5" />
        5
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <p class="scoreParameter">Leadership Skills</p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="leadershipSkills" value="1" />
        1
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="leadershipSkills" value="2" />
        2
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="leadershipSkills" value="3" />
        3
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="leadershipSkills" value="4" />
        4
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="leadershipSkills" value="5" />
        5
      </label>
    </div>
  </div>
</div>
